<html>
  <title>Summer Short Internship 2019</title>
  <body>
    	<h1>
          Todo Management System
    	</h1>
      <h4>2019 Summer Interhship Pre-task</h4>

    <form>
          <table border="1" width="500" cellspacing="0" cellpadding="5" bordercolor="#333333">
            <tr>
            <th bgcolor="#EE0000" width="150"><font color="#FFFFFF">Title</font></th>
            <th bgcolor="#EE0000" width="200"><font color="#FFFFFF">Description</font></th>
            </tr>
            <tr>
            <td bgcolor="#FFFFFF" valign="top" width="150">
              	<input type="text" placeholder="課題のタイトルを入力してください。"/>
              </td>
            <td bgcolor="#FFFFFF" valign="top" width="200">
              	<input type="text" placeholder="課題の詳細を入力してください。"/>
              </td>
            </tr>
        </table>
    </form>
    
    <br>
    <button type="submit" name="Click" value="Click">Input</button>
  </body>
</html>
