<html>
  <title>Summer Short Internship 2019</title>
  <body>
    	<h1>
          Task Management System
    	</h1>
    
    <table border="1" width="500" cellspacing="0" cellpadding="5" bordercolor="#333333">
        <tr>
        <th bgcolor="#EE0000"><font color="#FFFFFF">No</font></th>
        <th bgcolor="#EE0000" width="150"><font color="#FFFFFF">Title</font></th>
        <th bgcolor="#EE0000" width="200"><font color="#FFFFFF">Description</font></th>
        </tr>
        <tr>
        <td bgcolor="#99CC00" align="right" nowrap>1</td>
        <td bgcolor="#FFFFFF" valign="top" width="150">インターンシップの準備</td>
        <td bgcolor="#FFFFFF" valign="top" width="200">SpringBootを勉強する。</td>
        </tr>
        <tr>
        <td bgcolor="#99CC00" align="right" nowrap>2</td>
        <td bgcolor="#FFFFFF" valign="top" width="150">家事</td>
        <td bgcolor="#FFFFFF" valign="top" width="200">洗い物をする。</td>
        </tr>
	</table>
    
    <br>
    <button type="button" name="Click" value="Click">Click</button>
  </body>
</html>
